<footer class="footer container-fluid">
    <div class="container">
        <p class="footer-text col-xs-12 col-sm-12 col-md-12">
            © 2018
        </p>
    </div>
    <script  type='text/javascript' src="{{ base_url }}assets/js/jquery-3.2.1.js"></script>
    <script  type='text/javascript' src="{{ base_url }}assets/js/jquery.cookie.js"></script>
    <script  type='text/javascript' src="{{ base_url }}assets/js/jquery.blockUI.js"></script>
    <script  type='text/javascript' src="{{ base_url }}assets/js/bootstrap.min.js"></script>
    <script  type='text/javascript' src="{{ base_url }}assets/js/main.js"></script>
</footer>